/* ---------------------------- MOBILE --------------------------------- */

.mobile {
    display: none !important;
    visibility: hidden !important;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background-transparent {
    background: transparent !important;   
}

.login-size {
    padding-bottom: 15px;
    width: 450px;
    margin-left: 50px;
}

.content {
    min-height: 650px;
    overflow: hidden;
}

.left.carousel-control {
    margin-left: -23px;
}

.right.carousel-control {
    margin-right: -23px;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.margin-left-style {
    margin-left: 15px;   
}

.main-image {
    max-width: 700px;
    width: 100%;   
}

.titleHistorico {
    margin-top: 3px; 
    height: 28px; 
    margin-top: 0px; 
    vertical-align: text-top; 
    padding-top: 4px; 
    padding-left: 6px;   
}

.ancillary-nav 
{
    margin-top: -19px;
    margin-right: 15px;
}

@media screen and (max-width: 337px) 
{  
    .logo img {
        height: 25px !important;
    }
    
    #menuApp i {
        font-size: 16px;   
    }
}

@media screen and (min-width: 337px) and (max-width: 362px) { 
    .logo img {
        height: 30px !important;
    }
}

@media screen and (max-width: 439px) {
    .navbar-header.pull-left {
        height: auto;
    }
    
    .page-header label {
        font-size: 16px;
        margin-top: 0;
    }
    
    .hidden-mobile {
        display: none;   
    }
    
    .login-body .navigation a {
        font-size: 10px;
    }
}

@media screen and (min-width: 360px) and (max-width: 992px) {
    .span-without-padding {
         padding-left: 0px;
    }
    
    .form-mobile {
        width: 100%;   
    }
    
    .form-relatorios {
        width: 94%;   
    }
    
    .margin-left-style {
        margin-left: 0px;   
    }
}

@media screen and (max-width: 490px) {   

    .toolkit .btn-sm {
        font-size: 11px;
    }
    
    .cestadiretiva {
        background-position: 18px 5px;
        height: 37px;
    }
    
    .img-banner.ng-scope {
        height: 331px;
        width: 190px;
    }   
   
}

@media screen and (min-width: 640px) and (max-width: 659px) {
    .produto {
        margin-bottom:10px;   
    }
}

@media screen and (max-width: 660px) {   
    
    .login-size {
        margin-left: 0px !important;
        width: auto !important;
    }
    
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .span-with-padding {
         padding-left: 15px;
         display: inline-block;
    }

}

@media screen and (max-width: 720px) 
{
    .no-margin-mobile {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .no-margin-bottom-mobile {
        margin-bottom: 0px !important;
    }
}

@media screen and (max-width: 768px) {

    .catProds {
        width: 100%;
    }
    
    .news-block {
        padding: 0px;   
    }
    
    .toolkit .yamm .navbar-nav > li > a, .toolkit .yamm .navbar-nav > li > a:active {
        font-size: 14px;
    }
    
    .copy {
        font-size: 10px;
    }
    
    .catBanner {
        width: 100%;
    }   
    
    .login-size {
        margin-left: 19%;
        width: 450px;
    } 
    
    .container {
        padding-left: 12px;
        padding-right: 12px;
    }
    
    .sidebar {
        z-index:99999!important;  
        height: 350px!important;
    }
    
    .slimScrollDiv {
        z-index: none;
    }
    
    /*.slimScrollDiv {
      z-index: 99;
    }*/
    
    .pagination-mobile {
        display: inline-block !important;
    }
    
    .center-mobile {
        text-align: center;
    }
    
    .hidden-mobile-xs {
        display: none;   
    }
    
    .titleHistorico {
        margin-top: 3px; 
        height: auto; 
        margin-top: 0px; 
        vertical-align: text-top; 
        padding-top: 4px; 
        padding-left: 6px;   
    }
    
    /*.panel-group > .panel-default > .panel-heading {
        height: 40px !important;
    }*/
    
    .main-container {
        margin-left: -20px;
    }
    
    .selecionarAssociado  {
        margin-top: 100px !important; 
        margin-right: 1px;  
        width: 255px; 
    }
    
    .ms-siteiconCNP-img {
        margin-top: 10px !important;
    }
    
    .btnHeader {
        margin-top: 35px !important;   
    }
    
    .page-content {
        padding-right: 0px !important;
    }
    
    .btn-margin-top 
    {
        margin-top: -56px;   
    }
    
    .inputArquivo {
        width: 84% !important;
    }
    
    .truncate-text-mobile {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .width-80 {
        padding-left: 30px;
        width: 80%;
    }
    
    .width-100 {
        padding-left: 30px;
        width: 100%;
    }
    
}

@media screen and (min-width: 768px) {
    .pagination-web {
        display: inline-block !important;
    }
    
    .hidden-mobile-md {
        display: none;   
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .ancillary-nav {
        margin-top: -40px !important;
    }
    
    .selecionarAssociado {
        margin-top: 7px;
        width: 80%;
    }
}

@media screen and (max-width: 940px) {
	.container {
	    width: auto;
	    min-width: auto !important;   
	}

    .hidden-small {
        display: none;   
    }
    
    .destaque {
        width: 100%;
    }
    
    .banner-home {
        float: left !important;
    }
    
    .hidden-banner-home {
        display: none !important;   
    }
}

@media screen and (max-width: 992px) {
	.toolkit footer .icon {
        font-size: 20px;
    }
    
    .footer-info {
        background-color: #f5f5f5;
        border: 1px solid #dfdfe6;
        margin: 20px 0 0;
        padding: 10px;
        margin-top: 0px;
    }
    
    .footer-info h4 {
        margin: 0px;
    }
    
    .left.carousel-control {
        margin-left: 0px;
    }

    .right.carousel-control {
        margin-right: 0px;
    }
    
    /* ------------------- BACKOFFICE ------------------- */
    
    td {
        padding-left: 40px !important;
        width: auto !important;
    }
    
    table {
        width: 100% !important;
    }
    
    thead tr {
        position: unset;
    }
    
    .cor-fundo-mobile {
        margin-top: 0px !important;   
    }
    
    .cabecalho-site {
        position: absolute;
    }
    
    .menu-toggler {
        margin-top: 90px;
        position: fixed;   
    }
    
    .page-header {
        margin-top: 5px !important;   
    }
    
    .page-header label {
        margin-left: 0px;
        text-align: center;
    }
    
    .page-content-home {
        margin-top: 50px;   
    }
    
    .blocos-home table  {
        border-collapse: unset;   
    }
    
    .blocos-home table tr td {
        border-style: none !important;  
    }
    
    .selecionarAssociado {
        margin-right: 0px !important; 
    }
    
    .page-container {
        overflow-y:scroll;   
    }
    
    .form-actions {
        padding: 16px 10px 16px;
    }
}

@media screen and (max-width: 1199px) 
{
    .blocos-home {
        margin-bottom: 10px !important;
    }
}