* {
    outline: none !important;
}

div {
    cursor: default;
}

h2 {
    font-size: 32px;
    color: #032c6c;
    margin: 0px;
    font-weight: 700 !important;
}

h3 {
    font-size: 15.62px;
    color: #032c6c;
    margin: 0px;
    font-weight: 700 !important;
}

.fone {
    margin: 10px 0px;
    font-size: 12px;
    font-weight: 700;
    color: #484848;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.banner {
    height: 241px;
    background-image: url('../images/bg_banner.png');
    background-repeat: repeat;
}

    .banner .imagem {
        margin-left: -68px;
    }

    .banner .texto {
        margin-top: 40px;
        margin-right: 30px;
        width: 300px;
        font-size: 30px;
        color: #000000;
    }

.cesta {
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding-left: 40px !important;
    background-image: url('../images/icons-cesta.png');
}

.cestadiretiva {
    background-image: url("../images/icons-cesta.png");
    background-position: 17px 7px;
    background-repeat: no-repeat;
    height: 41px;
    padding-left: 39px !important;
}

.margemsuperiorcesta {
    margin-top: -3px;
}

.banner .texto b {
    font-size: 30px;
    font-weight: 700;
    color: #FFF;
    width: 100%;
}

.banner .texto a {
    color: #fc6429;
    background-color: #FFF;
}

.banner .texto a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

/*.buscados,.negociados,.destaque,.ad,.banner {
		width:100%;
}*/
	
.negociados {
    margin-top: -20px;
}

.destaque {
    margin-top: -20px;
    /*margin-left: 14px;*/
    width: 1000px;
}

.menu-principal li a {
    text-decoration: none;
    color: #032c6c;
    font-size: 21px;
    font-weight: 700;
    margin: 0px 20px;
    line-height: 70px;
    padding: 16px 0px;
}

    .menu-principal li a:hover, .menu-principal li a.active {
        border-top: 7px solid #e8613a;
        color: #e8613a;
    }

hr {
    border: 0px;
    border-bottom: 1px solid #dfdfe6;
}

.footer-redes {
    width: 212px;
    margin: 0px;
}

    .footer-redes li {
        width: 36px;
        height: 36px;
        margin-right: 8px;
        cursor: pointer;
        background-image: url('../images/redes.png');
        background-repeat: no-repeat;
        border: 0px !important;
    }

.bold {
    font-weight: bolder !important;
}

.copy {
    position: absolute;
    color: #3c9cc4;
    font-weight: 100;
}

    .copy a {
        color: #3c9cc4;
        font-weight: 100;
        text-decoration: none;
    }

.newsletter h3 {
    margin-top: 12px;
    margin-left: 14px;
}

.submenu-footer {
    margin-right: 48px;
}

.newsletter input[type=text], .newsletter input[type=email] {
    width: 90%;
    height: 27px !important;
    position: relative;
    margin-left: 5% !important;
    margin-top: 5% !important;
    font-size: 12px;
}

.newsletter .cadastrar {
    line-height: 6px;
    height: 25px !important;
    position: relative;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.produto h4 {
    margin: 5px 0px 10px 0px !important;
    font-size: 12px !important;
}

.voto {
    padding: 0px !important;
    margin: 5px 0px !important;
}

    .voto .icon-star {
        color: #f56329;
    }

        .voto .icon-star.out {
            color: #8e8e8e;
        }
        
        .voto .icon-star-half-empty.out {
            color: #f56329;
        }

ul.laranja .produto {
    border-top: 7px solid #f35e2b;
}

ul.verde .produto {
    border-top: 7px solid #c1d82f;
}

ul.azul .produto {
    border-top: 7px solid #00b6de;
}

    ul.azul .produto:last-child {
        border-top: 7px solid #cccccc;
    }

.submenu-footer a {
    color: #1491bf;
    text-decoration: none;
    font-size: 12px;
}

.submenu-footer:last-child {
    margin-right: 0px;
}

.newsletter h3 .icone {
    width: 20px;
    height: 14px;
    margin-right: 5px;
    background-image: url('../images/icons.png');
    background-repeat: no-repeat;
}

.footer-redes li.facebook {
    background-position: 0px 0px;
}

.footer-redes li.youtube {
    background-position: 0px -37px;
}

.footer-redes li.linkedin {
    background-position: 0px -72px;
}

.footer-redes li.foursquare {
    background-position: 0px -109px;
}

.footer-redes li.flicker {
    background-position: 0px -145px;
}

.footer-redes li:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.footer-redes li:last-child {
    margin-right: 0px;
}

.footer-menu-right {
    width: 212px;
}

.redes
{
    padding-bottom: 7px;
}

.redes .icon {
    font-size: 31px !important;
}

.toolkit a.icon {
    color: #032c6c !important;
}

    .toolkit a.icon:hover {
        color: #008dbd !important;
    }

.footer-menu-right li {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #c5c5c5;
}

    .footer-menu-right li:last-child {
        border-bottom: 0px;
    }

.newsletter {
    width: 212px;
    min-height: 100px;
    border: 1px solid #b1b1b1;
    border-top: 7px solid #022974;
}

.ad {
    margin-bottom: 18px;
    margin-top: 30px;
}

.header, .content, .footer {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}

.content {
    min-height: 650px;   
}

.buscados {
    margin-top: -20px;
}

.produto:hover {
    opacity: 0.9;
    filter: opacity(90);
}

.carrocel .produto:last-child {
    margin-right: 0px;
}

.header {
    border-bottom: 1px solid #dfdfe6;
}

.footer, .header {
    background-color: #f4f4f4;
}

.logo {
    margin: 12px 0px;
}

.logo-footer {
    margin: 50px 45px 0px 0px;
}

.login {
    margin-top: 0px;
    color: #454545 !important;
    font-weight: 700 !important;
}

.container {
    width: 940px;
    /*min-width: 940px;*/
}

.form-search-box {
    position: relative;
    /*top: 60px;*/
    right: 0;/*-107px;*/
}

.glyphicon-search input {
    width: 450px;
}

.row {
    margin-bottom: 18px;
}

.produto h4 {
    font-size: 14px;
}
/* PAGINA PRODUTOS */
.nav-tags {
    border-top: 1px solid #dfdfe6;
    border-bottom: 1px solid #dfdfe6;
    padding: 5px 0px;
}

.minha-conta {
    padding-left: 40px !important;
    background-image: url('../images/icons-cesta.png');
    background-repeat: no-repeat;
    background-position: 10px 7px;
}

.enviar {
    margin-top: 10px;
    padding-left: 50px !important;
    background-image: url('../images/icons-login.png');
    background-repeat: no-repeat;
    background-position: 10px 7px;
}

.column2 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-top {
    margin-top: 0px !important;
}

.no-bottom {
    margin-bottom: 0px !important;
}

/* PAGINA CESTA DE INTERESSES */

.itemFull {
    border-bottom: 1px dashed #D5D5D5;
    margin-top: 10px;
    padding-bottom: 10px;
}

    .itemFull:last-child {
        border-bottom: 0px;
        margin-top: 10px;
    }
/* LISTAGEM DE FORNECEDORES */
.top5px {
    margin-top: 5px;
}

.top20px {
    margin-top: 20px;
}

/* PAGINA FORNECEDOR */

.descricaoFornecedor {
    font-size: 14px;
    font-weight: bold;
}

/* MENU */
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: auto;
    right: auto;
}

.blocoProduto {
    width: 213px; 
    height: 334px;
    margin-bottom: 10px;
}

.blocoProduto3Itens {
    width: 193px; 
    height: 334px;
    margin-bottom: 10px;
}

/* TAMANHO IMAGENS */
.imagemproduto {
    /*width: 193px!important;
    height: 193px!important;*/
    width: 213px!important;
    height: 213px!important;
}

.imagemproduto3Itens {
    width: 193px!important;
    height: 193px!important;
}

.nomeProduto {
    width: 193px; 
    height: 31px!important; 
    text-align: left; 
    padding: 0px !important;
}

.content-module h3 {
    font-size: 13px !important;
}

.content-module h4 {
    font-size: 10px !important;
}

.content-module .voto i {
    font-size: 14px !important;
}

.fontawesome [class^="icon-"], .fontawesome [class*=" icon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}

.fontawesome .icon-barcode:before {
    content: "\f02a";
}

.fontawesome .icon-lock:before {
    content: "\f023";
}

.fontawesome .icon-envelope:before {
    content: "\f0e0";
}

.fontawesome .icon-check:before {
content: "\f046";
}

.input-icon.input-icon-right > [class*="icon-"] {
    left: auto;
    right: 45px;
}

.input-icon > [class*="icon-"] {
    padding: 0 3px;
    z-index: 2;
    position: absolute;
    top: 18px;
    bottom: 1px;
    left: 3px;
    line-height: 28px;
    display: inline-block;
    color: #909090;
    font-size: 16px;
}

.fonte-ordenacao {
    font-weight: bold;
    margin-top: 3px;
    font-size: 13px;
}

#tipoordenacao {
    font-size: 11px;
    height: 21px;
    margin-bottom: 15px;
    padding: 2px;
}

#tipoordenacaoavancada {
    font-size: 11px;
    height: 21px;
    margin-bottom: 15px;
    padding: 2px;
}

.linkProduto{
    color:#034355 !important;
    font-size: 14.62px;
    margin: 0px;
    font-weight: 700 !important;
}

.linkProduto:hover{
    color:#428bca !important;
}

.tamanhoBloco {
     /*width: 193px!important;*/
     width: 213px!important;
}

.tamanhoBloco3itens {
     width: 193px!important;     
}

.input-wrapper .dropdown-menu {
    border-radius: 0 !important;
    border-top: 0 !important;
    margin-top: 0 !important;
    width: 93% !important;
    padding-bottom: 15px !important;
    background-color: white !important;
}

.input-wrapper .dropdown-menu a {
	background-color: white !important;
}

.ProdutoNaoEncontrado {
    font-size: 20px;
    /*text-align: left;*/
    text-align: center;
}


/* PAGINA CATEGORIAS */
.catProds {
	width:29%;
	margin-top:20px !important;
}

.catBanner {
	width:68%;
	/*margin-top:20px !important;*/
}

.catProds h4 {
	margin:0px !important;
}

.subtitle {
	font-weight: 700 !important;
	font-size:12px;
}

#menu-lateral-10 p {
	font-weight: 700 !important;
	font-size:12px;
}

.tamanhoPage {
    width: 940px;
}

.itembreadcrumb {
    color: #002c6c !important;
}

.itembreadcrumb a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.menuCats .sub1 {
	background-color:#e0dfe5;
	padding:7px;
}
.menuCats .sub1 a {
	color:#012b77 !important;
	text-transform: uppercase;
	font-weight:700;
	text-decoration:none;
	
}

.menuCats .sub2 {
	background-image: url('../images/seta_01.jpg');
	/*background-position:260px 15px;*/
	background-position: right center;
	background-repeat:no-repeat;
	padding:7px;
	border-top:1px solid #ddd;
}
.menuCats .sub2 a {
	color:#012b77 !important;
	text-transform: uppercase;
	font-size:12px;
	
}
.banners {
	text-align: center;
	position: relative;
	float: left;
	width: 224px;
	margin-left: 16px;
}
.banners .row{
	padding:0px !important;
	margin:0px !important;
}
.banners .row .col-md-12{
	padding:0px !important;
	margin:0px !important;
	margin-bottom:20px !important;
}
.banners .row .col-md-12 img{
	padding:0px !important;
	margin:0px !important;
}
.voto.color-sky .icon-star{
	color:#00b6de;
}
.voto.color-orange .icon-star{
	color:#f26334;
}
.voto.color-lime .icon-star{
	color:#c1d82f;
}
.no-border {
	border:0px !important;
}
.espacamento 
{
    margin-bottom: 10px;   
}

.div_teste {
    height: 241px;
    position: absolute;
    width: 1902px;
}

#modal2 .col-md-12, #modal3 .col-md-12
{
    padding-left: 15px;
}

.form-group.has-error input,.form-group.has-error select,.form-group.has-error textarea{border-color:#f09784;color:#d68273;-webkit-box-shadow:none;box-shadow:none}

.menuCats .panel-title .collapsed, .menuCats .panel-title > a
{
    padding-top: 3px;
}

.backgroud-busca-erro
{
    background-color: seashell;
}

.link-pipe {
	color: #007fac;
	margin: 0 15px
}


.toolkit footer .newsletter {
    padding-left: 0 !important;
}
.toolkit footer .newsletter {
    padding-right: 0 !important;
}

.toolkit .navbar-nav > li > a {
margin-top: 5px !important;
margin-bottom: 0px !important;
}

.toolkit .nav-tags {
margin-top: 1px !important;
margin-bottom: 8px !important;
}

.dvAutoCompletar{
margin-top: 0px;
margin-bottom: -15px;
}

.active .dvAutoCompletar{
    background: #dfdfe6;
}

#carousel-buscados .carousel-inner, #carousel-negociados .carousel-inner, #carousel-visualizados .carousel-inner
{
    /*height: 345px;*/
    /*height: 362px;*/
    height: auto;
}

.row ul.pagination
{
    margin:0;
}

.toolkit .btn-secondarycesta {
    background-color: #6f6f6f;
    border: 1px solid #b1b3b3;
    color: #fff;
    padding: 10px 14px 12px;
}

/*Detalhe do produto*/
.titleQuestions {
    color: #002c6c;
    font-weight: 400;
    font-size: 20px;
}

.itemCesta {   
    margin-bottom: 5px;
    margin-top: 5px;
}

.toolkit .panel-title > a {
    /*background: url("../images/plus-minus.png") no-repeat scroll 877px -29px rgba(0, 0, 0, 0);*/
    display: inline-block;
    height: 55px;
    margin-top: 0px;
    padding-left: 20px;
    width: 100%;
}

.toolkit .panel-title > a {
    /*background: url("../images/plus-minus.png") no-repeat scroll 877px -29px rgba(0, 0, 0, 0);*/
    display: inline-block;
    height: 20px;
    padding-left: 20px;
    width: 100%;
}

.estrelaCesta {
    font-size: 10px !important;
}

.votosCesta {
    margin-top: -2px;
    margin-bottom: 0px;
    padding-left: 3px;
}

.mensagemCesta {
    font-size: 11px;
    background: none;
    color: #002c6c;    
}

.iconeMensagemCesta {
    font-size: 18px !important;    
}

.textoMensagemCesta {
    vertical-align: super;
}


.bltituloFornecedorCesta {
    border-bottom: solid 1px #cccccc;
    font-size: 14px;       
}

.tituloFornecedorCesta {   
    font-size: 15px !important;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
}

.col2ItemCesta {
    margin-top:10px;
}

.col3ItemCesta {
    margin-top:15px;
}

.btExcluirCesta {
    font-size: 11px !important;
    vertical-align: super;
}

.blocoRespostaCesta
{
    margin-top: 5px;
    margin-bottom: 3px;
}

.btnEnviarCesta
{    
    margin-top: 3px;
    margin-bottom: 5px;
    width: 56px !important;
    padding: 1px !important;
    font-size: 11px !important;
}

.txtTituloEnviarCesta
{
    margin-top: 1px;
    margin-bottom: 1px;
    color: #002c6c;
    font-size: 11px !important;  
}

.opcaoCesta
{
    margin-top: 1px;
    margin-bottom: 1px;
}

.tituloProdutoCesta
{
    margin-top: 8px;
    margin-bottom: 1px;
    margin-left: 8px;
}

.caixaMensagemCesta
{
   resize: none;
   font-size: 11px !important;
}

.confirmPopOverCesta .popover-title
{
    display: none;
}

.confirmPopOverCesta .confirmbutton-msg 
{
    font-size: 9px !important; 
    margin-top: 0px;
    margin-bottom: 0px;
}

.accordion-avaliacao .accordion-toggle
{
    background: none !important;
}

.confirmPopOverCesta .btn
{
    font-size: 9px !important;
    margin-right: 3px;        
}

.naoPreenchidoCesta
{
    background-color: seashell;    
    border: 1px solid red  !important;
}

.naoPreenchidoCestaProduto
{
    display: none;
}


.angular-google-map-container { height: 300px; }



.accordion-avaliacao .panel-heading
{
    height: 39px !important;
}

.accordion-avaliacao h4
{
    margin-top: 20px !important;
}

.positionDateHistorico {
    float: right; 
    font-weight:bold; 
    margin-top: 5px;
    font-size: 12px;
}

.accordion-avaliacao {
    background: url("../images/nav-select.gif") repeat-x scroll 0 -5px transparent;  
    border-left: 1px solid gray !important;
    border-right: 1px solid gray !important;
    border-bottom: 1px solid gray !important;
}

.has-error-avaliacao {
    border: 1px solid red !important;   
}

.has-error-historico > textarea {
    border: 1px solid red !important;   
}

#accordion h4 {
    margin: 18px 0 15px;
}

.titlepage {
    font-size: 23px;
    color: #002c6c;
    font-weight: bold;
}

.panel-default > .panel-heading {
    height: 55px;
}

.starsize {
    font-size: 17px !important;   
}

.tab-content .active
{
    color:#333;
    display: block !important;
}

.tab-content .pagination{ display:block; }

.truncate, .truncate-nome, .truncate-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.truncate { max-width: 470px; }
.truncate-nome { max-width: 225px; }
.truncate-title { max-width: 570px; display:inline-block; }

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    min-width: 540px;
}

.title-panel
{
    background: none !important;
    padding-left: 0 !important;
}

.imgEspacoFornecedor 
{
    width: 200px;
    height: 100px;
    min-width: 100px;
    min-height: 20px;
}

/* Perguntas Produto */

.perguntaProduto .panel-heading
{    
    padding-bottom: 0px  !important;
    height: auto  !important;   
    padding-left: 0px !important;
}

.perguntaProduto .accordion-toggle 
{
    background-image: none !important;    
    height: auto  !important;
    margin-bottom: 0px;
    margin-left: -15px;
    margin-right: -15px;
}

.perguntaProduto .panel 
{
    border-bottom: solid 1px #F5F5F5 !important; 
    /*margin-left: 7px !important; 
    margin-right: 5px !important;*/
    
}

.perguntaProduto .panel-title
{
    font-size: 14px;
}

.perguntaProduto #accordion h4 {
    margin: 28px 0 5px;
}


.perguntaProduto .positionDateHistorico
{
    font-size: 11px;
}

.corpoPergunta
{
    padding-bottom: 0px !important;
    background-color: #f4f4f4 !important;
    margin-bottom: 5px  !important;
    margin-left: 10px  !important;
}

.avaliacaoProduto
{
    background-color: #FFFFFF !important;
}

.avaliacaoProduto .positionDateHistorico
{
    font-size: 11px;
}

.textoAvaliacaoUtil
{
    font-size: 11px;
    color: #002c6c  !important;
}

.textoAvaliacaoUtil .utilSelecionado
{
    font-size: 11px;
    color: #f26334 !important;
}

.avalie
{
    margin-bottom: 0px;
    height: 20px;
}

.cestaLinkTodos
{
    font-size: 9px !important;
}

.btTodosCesta {
    font-size: 11px !important;
    vertical-align: super;
    margin-left: 7px;
}


/* Perguntas Produto */

#form_cesta_interesse .panel-title
{
    font-size: 15px !important;
}

#form_cesta_interesse .panel-title i 
{
    position: absolute;
    margin-top: -1px;
}

#form_cesta_interesse .panel-title div
{
    margin-left: 20px;
}

#form_cesta_interesse a.title-panel > *, #lista_cesta_interesse > table > tbody > tr  {
cursor: pointer;
}

#form_cesta_interesse div.panel-group
{
    margin-top: 20px;
}


#lista_cesta_interesse > table i:before
{
    width: 14px;
    text-align:center;
}

#lista_cesta_interesse ul.pagination
{
    min-width: 366px;
    display: inline-flex;
}

.positionLinkMinhasDuvidas 
{
    float: right;
    font-size: 12px;
    margin-bottom: 5px;
}

.negrito 
{
    font-weight: bold;   
}

.negrito_destaque a
{
    font-weight: bold;   
}

.justificado 
{
    text-align: justify;   
}

.subtitlePage 
{
    font-size: 14px;
    color: #002c6c;
    font-weight: bold;
}

.message-loading-overlay {
  position: absolute;
  z-index: 14;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.message-loading-overlay > [class*="icon-"] {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  text-align: center;
}

.angular-google-map-container { height: 300px; }

.imagemfornecedor {
    height: 110px !important;
    width: 193px !important;
    max-height:108px;   
}

.modal {
 overflow-y: auto;
}

.modal-open {
 overflow: auto;
}

.naoPreenchidoDetalheProduto 
{
    border: 1px solid red  !important;
}

.newsletter .mensagem 
{
    color: #f26334;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 10px 17px;   
}

.paginaprodutotrescolunas
{
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
}

.formataAvaliacao {
    clear: both;
    float: none;
    padding: 10px 20px 20px;
}

.highlightAvaliacao {
    background-color: #f4f4f4;
    clear: both;
    float: none;
    margin: 10px 0 40px;
    padding: 10px 20px 20px;
}



