﻿<h3 class="header smaller lighter purple ng-scope" translate="15.LBL_Alergenos">
    Alérgenos
</h3>

<div class="row">
    <div class="col-md-12">
        <label>
            <span>&nbsp;</span>
        </label>
        <div ng-show="!showCadastro">
            <button type="button" ng-cloak class="btn btn-info btn-xs pull-right" name="btnNovo" 
                ng-click="novo();" title="{{'15.TOOLTIP_NovoRegistro' | translate }}" style="margin-bottom: 5px;">
                <i class="icon-plus"></i>
            </button>
        </div>
    </div>
</div>
<!-- Cadastro de alergeno -->
<div class="row" ng-show="showCadastro"> 
    <div class="form-group col-md-3 col-sm-5">
        <label for="allergenTypeCode" translate="15.LBL_Alimento">
            Alimento
        </label>
        <select id="allergenTypeCode" name="allergenTypeCode" class="form-control input-sm"
            ng-model="detail.allergenRelatedInformation.allergen"
            ng-options="allergen as allergen.descricao for allergen in alergenTypeCodes track by allergen.codigo"
            data-toggle="popover" data-trigger="hover" data-container="body" data-content="{{'t.15.LBL_AllergenTypeCode' | translate}}">
        </select>
    </div>
    <div class="form-group col-md-2 col-sm-5">
        <label for="levelOfContainmentCode" translate="15.LBL_AllergenContainmentCode">
            Presença do Alérgeno
        </label>
        <select id="levelOfContainmentCode" name="levelOfContainmentCode" class="form-control input-sm"
            ng-model="detail.levelOfContainmentCode"
            ng-options="containmentCode as containmentCode.nome for containmentCode in containmentCodes track by containmentCode.id"
            data-toggle="popover" data-trigger="hover" data-container="body" data-content="{{'t.15.LBL_AllergenContainmentCode' | translate}}">
        </select>
    </div>
    <div class="form-group col-md-2 col-sm-2">
        <label>&nbsp;</label>
        <div class="form-group col-md-12 col-sm-12">
            <button ng-cloak name="salvar" ng-click="salvar(detail);"
                class="btn btn-info btn-xs" type="button">
                <i class="icon-save"></i>
            </button>
            <button ng-click="cancelar();" name="atualizar" class="btn btn-danger btn-xs"
                type="button">
                <i class="icon-remove"></i>
            </button>
        </div>
    </div>
</div>
<div class="row"> <!-- Grid Itens Informacao Nutricional -->
    <div class="col-md-12">
        <div id="table-nutrientes" class="table-responsive">
            <table class="table table-bordered table-striped table-hover tableNaoExibeVoltar">
                <thead>
                    <tr>
                        <th>
                            <span translate="15.LBL_AllergenTypeCode">Código do Alérgeno</span>
                        </th>
                        <th>
                            <span translate="15.GRID_AllergenLevelOfContainment">Presença do Alérgeno</span>
                        </th>
                        <th>
                            <span translate="15.GRID_Selecione">Selecione</span>&nbsp;&nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in list" ng-click="selecionar(d)">
                        <td ng-style="{ 'width': '25%' }">{{d.allergenRelatedInformation.allergen.descricao}}</td>
                        <td ng-style="{ 'width': '20%' }">{{d.levelOfContainmentCode.nome}}</td>
                        <td ng-style="{ 'width': '10%' }" class="action-buttons center">
                            <a class="red" ng-click="$event.stopPropagation(); remover(d);">
                                <i class="icon-trash bigger-130" title="{{ '15.TOOLTIP_Excluir' | translate }}"style="cursor: pointer; text-decoration: none;"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-show="list.length == 0">
                        <td colspan="4" class="text-center" translate="15.LBL_NenhumItemInserido">
                            Nenhum item inserido
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 