﻿<h3 class="header smaller lighter purple ng-scope" translate="15.LBL_InformacoesNutricionais_titulo">
    Informações Nutricionais
</h3>
<div class="row">
    <div class="form-group col-md-5 col-sm-5">
        <label for="txtServingSize" translate="15.LBL_ServingSize">Descrição de Porção ou Medida</label>
        <input type="text" id="servingSize" name="servingSize" class="form-control input-sm"
            ng-model="item.produtoNutrientHeader.servingSizeDescription" maxlength="255" 
            data-toggle="popover" data-trigger="hover" data-container="body" data-content="{{'t.15.LBL_ServingSize' | translate}}"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <label>
            <span></span>
        </label>
        <div ng-show="!showCadastroItemInformacaoNutricional">
            <button type="button" ng-cloak class="btn btn-info btn-xs pull-right" name="btnNovaInformacaoNutricional" 
                ng-click="newInformacaoNutricional();" title="{{'15.TOOLTIP_NovoRegistro' | translate }}" style="margin-bottom: 5px;">
                <i class="icon-plus"></i>
            </button>
        </div>
    </div>
</div>
<!-- Cadastro de detail de Informacao Nutricional -->
<div class="row" ng-show="showCadastroItemInformacaoNutricional"> 
    <div class="form-group col-md-3 col-sm-5">
        <label for="nutrientTypeCode" translate="15.LBL_Item">
            Item
        </label>
        <select id="nutrientTypeCode" name="nutrientTypeCode" class="form-control input-sm" 
            ng-model="detail.nutrientTypeCode" ng-change="changeNutrient();"
            ng-options="nutrient as nutrient.nome for nutrient in nutrients track by nutrient.codigo"
            data-toggle="popover" data-trigger="hover" data-container="body" data-content="{{'t.15.LBL_NutrientTypeCode' | translate}}">
        </select>
    </div>

    <div class="form-group col-md-2 col-sm-5">
        <label for="txtQuantityContained" translate="15.LBL_quantidade">
            Quantidade
        </label>
        <input type="text" id="quantityContained" name="quantityContained" class="form-control input-sm"
            ng-model="detail.quantityContained" maxlength="255"
            data-toggle="popover" data-trigger="hover" data-container="body" data-content="{{'t.15.LBL_quantidade' | translate}}"/>
    </div>
    <div class="form-group col-md-3 col-sm-5">
        <label for="measurementPrecisionCode" translate="15.LBL_UnidadeMedida">
            Unidade de Medida
        </label>
        <select id="measurementPrecisionCode" name="measurementPrecisionCode" class="form-control input-sm"
            ng-model="detail.measurementPrecisionCode" data-container="body"
            ng-options="measurement.sigla as measurement.sigla for measurement in measurements"
            data-toggle="popover" data-trigger="hover" data-content="{{'t.15.LBL_UnidadeMedida' | translate}}">
        </select>
    </div>
    <div class="form-group col-md-2 col-sm-5">
        <label for="dailyValueIntakePercent" translate="15.LBL_dailyValueIntakePercent">
            % VD
        </label>
         <input type="text" id="dailyValueIntakePercent" name="dailyValueIntakePercent" class="form-control input-sm"            
            ng-model="detail.dailyValueIntakePercent" maxlength="9"
            data-toggle="popover" data-trigger="hover" data-content="{{'t.15.LBL_dailyValueIntakePercent' | translate}}" />
    </div>
    <div class="form-group col-md-2 col-sm-2">
        <label>&nbsp;</label>
        <div class="form-group col-md-12 col-sm-12">
            <button ng-cloak name="salvar" ng-click="salvarNutrientDetail(detail);"
                class="btn btn-info btn-xs" type="button">
                <i class="icon-save"></i>
            </button>
            <button ng-click="event.preventDefault(); cancelarNutrientDetail();" name="atualizar" class="btn btn-danger btn-xs"
                type="button">
                <i class="icon-remove"></i>
            </button>
        </div>
    </div>
</div>

<div class="row"> <!-- Grid Itens Informacao Nutricional -->
    <div class="col-md-12">
        <div id="table-nutrientes" class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th ng-click="tableNutrientDetail.sorting('nutrientTypeCode', tableNutrientDetail.isSortBy('nutrientTypeCode', 'asc') ? 'desc' : 'asc')">
                            <span translate="15.LBL_Item">Item</span>
                            <i class="text-center icon-sort" ng-class="{
                                'icon-sort-up': tableProdutoNutrientDetail.isSortBy('nutrientTypeCode', 'asc')
                                , 'icon-sort-down': tableProdutoNutrientDetail.isSortBy('nutrientTypeCode', 'desc')
                            }"></i>
                        </th>
                        <th ng-click="tableNutrientDetail.sorting('nome', tableProdutoNutrientDetail.isSortBy('quantityContained', 'asc') ? 'desc' : 'asc')">
                            <span translate="15.GRID_quantidade">Quantidade</span>
                            <i class="text-center icon-sort" ng-class="{
                                'icon-sort-up': tableProdutoNutrientDetail.isSortBy('quantityContained', 'asc'),
                                'icon-sort-down': tableProdutoNutrientDetail.isSortBy('quantityContained', 'desc')
                            }"></i>
                        </th>
                        <th ng-click="tableNutrientDetail.sorting('nome', tableProdutoNutrientDetail.isSortBy('measurementPrecisionCode', 'asc') ? 'desc' : 'asc')">
                            <span translate="15.GRID_unidadeMedida">Unidade de Medida</span>
                            <i class="text-center icon-sort" ng-class="{
                                'icon-sort-up': tableProdutoNutrientDetail.isSortBy('measurementPrecisionCode', 'asc'),
                                'icon-sort-down': tableProdutoNutrientDetail.isSortBy('measurementPrecisionCode', 'desc')
                            }"></i>
                        </th>
                        <th ng-click="tableNutrientDetail.sorting('nome', tableProdutoNutrientDetail.isSortBy('dailyValueIntakePercent', 'asc') ? 'desc' : 'asc')">
                            <span translate="15.GRID_dailyValueIntakePercent">% VD</span>
                            <i class="text-center icon-sort" ng-class="{
                                'icon-sort-up': tableProdutoNutrientDetail.isSortBy('dailyValueIntakePercent', 'asc'),
                                'icon-sort-down': tableProdutoNutrientDetail.isSortBy('dailyValueIntakePercent', 'desc')
                            }"></i>
                        </th>
                        <th>
                            <span translate="15.GRID_Selecione">Selecione</span>&nbsp;&nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in item.produtoNutrientDetail" ng-click="selectNutrientDetail(d)">
                        <td ng-style="{ 'width': '25%' }" sortable="'nutrientTypeCode.nome'">{{d.nutrientTypeCode.nome}}</td>
                        <td ng-style="{ 'width': '20%' }" sortable="'quantityContained'">{{d.quantityContained}}</td>
                        <td ng-style="{ 'width': '25%' }" sortable="'measurementPrecisionCode'">{{d.measurementPrecisionCode}}</td>
                        <td ng-style="{ 'width': '20%' }" sortable="'dailyValueIntakePercent'">{{d.dailyValueIntakePercent}}</td>
                        <td ng-style="{ 'width': '10%' }" class="action-buttons center">
                            <a class="red" ng-click="$event.stopPropagation(); removeNutrientDetail(d);">
                                <i class="icon-trash bigger-130" title="{{ '15.TOOLTIP_Excluir' | translate }}"style="cursor: pointer; text-decoration: none;"></i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-show="item.produtoNutrientDetail.length == 0">
                        <td colspan="5" class="text-center" translate="15.LBL_NenhumItemInserido">
                            Nenhum item inserido
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 
<div class="row" id="identificacao_row_descricao">
    <div class="form-group col-md-12 col-xs-12">
        <label for="dailyValueIntakeReference">
            <span translate="15.LBL_dailyValueIntakeReference">Referência Diária</span> <span ng-show='!searchMode && isRequiredAlways'>(*)</span>
        </label>
        <textarea id="dailyValueIntakeReference" name="dailyValueIntakeReference" class="form-control input-sm" 
            ng-model="item.produtoNutrientHeader.dailyValueIntakeReference" 
            sbx-maxlength="70" rows="3" 
            style="resize: vertical;" 
            data-toggle="popover" data-trigger="hover" data-container="body" data-content="{{'t.15.LBL_dailyValueIntakeReference' | translate}}"></textarea>
        <span style="font-size: 80%;">(<span translate="15.LBL_TamanhoMaximo">Tamanho máximo</span>: 70)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span translate="15.LBL_QuantidadeCaracteres">Quantidade de caracteres</span>: {{ item.produtoNutrientHeader.dailyValueIntakeReference.length || 0 }}</span>
    </div>
</div>