<ul id="menu-lateral" class="nav nav-list">
    <li ng-repeat="item in atalho" 
	    ng-click="item.submenus == null ? itemClicked($index) : false" 
	    ng-class="{ 'active': item.submenus == null && $index == selectedIndex, 'dropdown': item.submenus != null }">	   
        <a ng-href="{{item.url || ''}}" ng-click="item.submenus != null ? (item.show = !item.show) : false">
            <i class="{{item.icone}}" style="color: {{item.cor}}"></i>
            <span class="menu-text">{{item.nome}}</span>
            <span class="badge badge-primary" ng-show="item.id == 9" ng-bind="$parent.$parent.contadorCestaInteresse + $parent.$parent.contadorDuvida"></span>
            <b ng-if="item.submenus != null" class="arrow icon-angle-down"></b>
        </a>
        <ul class="submenu" ng-if="item.submenus != null" ng-show="item.show">
            <li ng-click="subItemClicked($parent.$index, $index)" ng-class="{ 'active': $parent.$index + '.' + $index == selectedIndex }" ng-repeat="submenu in item.submenus">
                <a ng-href="{{submenu.href}}">
                    <i class="icon-double-angle-right"></i>
                    {{submenu.nome}}
                </a>
            </li>
        </ul>
    </li>
</ul>
