﻿<ul id="menu-lateral" class="nav nav-list" style="cursor: pointer;">
    <li ng-repeat="item in menu" 
	    ng-click="item.submenus == null ? itemClicked($index) : false" 
	    ng-class="{ 'active': item.submenus == null && $index == selectedIndex, 'dropdown': item.submenus != null }">	   
        <a ng-href="{{item.href || ''}}" ng-click="hideAllSubmenus(menu, item)">
            <i class="{{item.icon}}"></i>
            <span class="menu-text" translate="0.MODULO_{{item.id}}">{{item.label}}</span>
            <span class="badge badge-primary" ng-show="item.id == 9" ng-bind=""></span>
            <b ng-if="item.submenus != null && item.show && !item.href" class="arrow icon-angle-down"></b>
            <b ng-if="item.submenus != null && !item.show && !item.href" class="arrow icon-angle-right"></b>
        </a>
        <ul class="submenu" ng-if="item.submenus != null" ng-show="item.show">
            <li ng-click="subItemClicked($parent.$index, $index)" ng-class="{ 'active': $parent.$index + '.' + $index == selectedIndex }" ng-repeat="submenu in item.submenus">
                <a ng-href="{{submenu.href}}" translate="0.FORMULARIO_{{submenu.id}}">
                    <i class="icon-double-angle-right"></i>
                    {{submenu.label}}
                </a>
            </li>
        </ul>
    </li>
    <!--<li>
        <a ng-href="/backoffice/exibirPesquisaSatisfacao">
            <span class="menu-text">
                <i class="fa fa-comments-o"></i>
                Pesquisa Satisfação
            </span>
        </a>
    </li>-->
</ul>
