﻿<div id="modal1" class="modal fade">
    <style>
        .modal-backdrop {
            z-index: 10 !important;
        }

        .toolkit .navbar-default {
            z-index: auto !important;
        }

        .login-container {
            border: 5px solid #394557;
            background: #f7f7f7;
        }

        .login-body .navigation a {
            color: #BEC8D6;
        }

        .forgot-body {
            height: 223px;
        }

            .forgot-body button i {
                font-size: 16px !important;
            }

            .forgot-body .navigation, .forgot-body button, .forgot-body .navigation a {
                background: #c16050;
                color: #fff;
            }

            .forgot-body h3 {
                border-bottom: 1px solid #c16050;
                color: #c16050;
            }

        .modal-header {
            border-top-color: #f26334 !important;
            padding-top: 15px !important;
            padding-left: 35px !important;
            padding-right: 35px !important;
        }
        
        .widget-box {
            transform: scale(0, 1) translate(-150px);
            visibility: hidden;
        }
        
        .main-container {
            margin-bottom: 40px;
        }
    </style>
    <div class="modal-dialog" ng-init="viewLogin = true; viewForgot = false;">
        <div class="modal-content login-size">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="e.preventDefault(); viewLogin = true; viewForgot = false;">
                    <span aria-hidden="true">x</span>
                    <!--<span ng-click="e.preventDefault(); viewLogin = true; viewForgot = false;" aria-hidden="true" class="sr-only">Close</span>-->
                </button>
                <div class="text-center" style="padding:20px 0">
                    <img src="/images/logo_cnp.png" style="height:80px" />
                </div>
            </div>
            <div class="main-container">
                <div class="main-content">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="login-container">
                                <div id="login-box" class="login-box s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth widget-box visible" ng-show="viewLogin">
                                    <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth">
                                        <div class="ms-webpart-chrome-title">
                                            <span class="js-webpart-titleCell" title="Login - Permite acessar o sistema">
                                                <h3 class="ms-webpart-titleText" style="text-align:justify;">
                                                    <nobr>
                                                        <i class="fa fa-barcode blue"></i>
                                                        <span>Login</span>
                                                    </nobr>
                                                </h3>
                                            </span>
                                        </div>
                                        <div class="ms-WPBody ms-WPBorder noindex ms-wpContentDivSpace">
                                            <div class="ms-rtestate-field">
                                                <p>Entre com seus dados:</p>
                                            </div>
                                            <div class="ms-clear"></div>

                                            <form name="form" novalidate class="form" role="form" style="padding-left: 15px; padding-right: 15px;" ng-submit="onLogin()">
                                                <fieldset>
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <span for="user">Usuário</span>
                                                            <input type="text" class="form-control input-sm" placeholder="E-mail" id="user" name="user" ng-model="usuario.login" maxlength="255" required />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <span for="pwd">Senha</span>
                                                            <input type="password" class="form-control input-sm" placeholder="Senha" id="pwd" name="pwd" ng-model="usuario.senha" maxlength="255" on-enter="onLogin()" required/>
                                                        </div>
                                                    </div> 
                                                    
                                                    <div class="row" ng-show="exibeCPFCNPJ == true"  ng-cloak>
                                                        <div class="form-group col-md-12">
                                                            <span for="cpfcnpj">CPF/CNPJ</span>
                                                            <input type="text" class="form-control input-sm" placeholder="CPF/CNPJ" id="cpfcnpj" name="cpfcnpj" on-enter="onLogin()" ng-model="usuario.cpfcnpj" required  onkeydown="this.value=this.value.replace(/[^a-zA-Z 0-9]+/g, ''); return (event.ctrlKey || event.altKey || (47<event.keyCode && event.keyCode<58 && event.shiftKey==false) || (95<event.keyCode && event.keyCode<106) || (event.keyCode==8) || (event.keyCode==9) || (event.keyCode>34 && event.keyCode<40) || (event.keyCode==46) )" onblur="this.value=this.value.replace(/[^a-zA-Z 0-9]+/g, '');" onkeyup="this.value=this.value.replace(/[^a-zA-Z 0-9]+/g, '');" />
                                                        </div>
                                                    </div>  
                                                    
                                                    <div class="row" ng-show="exibeCAPTCHA == true">
                                                        <div vc-recaptcha key="'6LeVSAwTAAAAAGEN6LLRvqFuzMhquH_NJIBjZu7a'" on-success="setResponse(response)"></div>
                                                    </div>

                                                    <div class="space"></div>

                                                    <div class="clearfix">
                                                        <button class="width-35 pull-right btn btn-sm btn-primary" type="submit">
                                                            <i class="fa fa-key"></i>
                                                            Entrar
                                                        </button>
                                                    </div>

                                                    <div class="space-4"></div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="toolbar clearfix">
                                            <div style="width: 100%;">
                                                <a href="#" ng-click="e.preventDefault(); viewLogin = false; viewForgot = true;" class="forgot-password-link">
                                                    <i class="fa fa-lock"></i>
                                                    Esqueci minha senha
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="forgot-box" class="forgot-box s4-wpcell-plain ms-webpartzone-cell ms-webpart-cell-vertical ms-fullWidth" ng-show="viewForgot">
                                    <div class="ms-webpart-chrome ms-webpart-chrome-vertical ms-webpart-chrome-fullWidth ">
                                        <div class="ms-webpart-chrome-title">
                                            <span class="js-webpart-titleCell">
                                                <h3 class="ms-webpart-titleText" style="text-align:justify;">
                                                    <nobr>
                                                        <i class="fa fa-key blue"></i>
                                                        <span>Recuperar Senha</span>
                                                    </nobr>
                                                </h3>
                                            </span>
                                        </div>
                                        <div class="ms-WPBody ms-WPBorder noindex ms-wpContentDivSpace">
                                            <div class="ms-rtestate-field">
                                                <p>Insira o endereço e-mail cadastrado:</p>
                                            </div>
                                            <div class="ms-clear"></div>

                                            <form name="formRecuperar" novalidate class="form" role="form">
                                                <fieldset>
                                                    <label class="block clearfix col-md-12 col-xs-12">
                                                        <span class="block input-icon input-icon-right" >
                                                            <input type="email" style="text-transform:lowercase;" on-enter="enviarEmail()" ng-pattern="/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/" class="form-control" ng-model="usuario.email" placeholder="E-mail" />
                                                        </span>
                                                    </label>

                                                    <div class="clearfix">
                                                        <button type="button" ng-click="enviarEmail()" class="width-35 pull-right btn btn-sm btn-primary">
                                                            <i class="fa fa-envelope"></i>
                                                            Enviar
                                                        </button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                        </div>
                                        <div class="toolbar center">
                                            <a href="#" ng-click="e.preventDefault(); viewLogin = true; viewForgot = false;"  class="back-to-login-link">
                                                <i class="fa fa-arrow-left"></i>
                                                Voltar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>