<script type="text/ng-template" id="TypeaheadEstado.html">
    <ul class='typeahead-row'>
        <a>
            <li class='typeahead-col' bind-html-unsafe="(match.model.sigla + '') | typeaheadHighlight:query"></li>
            <li class='typeahead-col' bind-html-unsafe="match.model.estado | typeaheadHighlight:query"></li>
        </a>
    </ul>
</script>

