﻿<div class="carousel-container">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <div class="container carousel-inner">
            <div class="item carousel-bgimage">
                <h1>This is a main heading lorem ipsum dolor sit amet</h1>
                <button type="button" class="btn-primary btn-margin">Call-to-Action Button</button>
            </div>
            <div class="item bg-sky carousel-bgimage-right">
                <h1>This is a main heading lorem ipsum dolor sit amet</h1>
                <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus, nulla nec elementum pellentesque, massa neque commodo arcu.</p>
                <button type="button" class="btn-primary btn-margin bg-blue">Call-to-Action Button</button>
            </div>
            <div class="item active bg-orange">
                <h1>This is a main heading lorem ipsum dolor sit amet</h1>
                <p class="large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam rhoncus, nulla nec elementum pellentesque, massa neque commodo arcu.</p>
                <button type="button" class="btn-primary btn-margin bg-blue">Call-to-Action Button</button>
                <button type="button" class="btn-secondary btn-margin">This is a secondary button</button>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon icon-arrow_left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon icon-arrow_right"></span>
        </a>
    </div>
</div>
