﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="/scripts/lib/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="/scripts/portal/bootstrap.min.js" type="text/javascript"></script>
    <link href="/scripts/portal/bootstrap.min.css" rel="stylesheet" type="text/css" />    
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <link href="/bower_components/angular-block-ui/dist/angular-block-ui.min.css" rel="stylesheet"  type="text/css" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.js" type="text/javascript"></script>
    <!--<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"></script>-->
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls-0.11.0.min.js" type="text/javascript"></script>
    
    <link href="/styles/carousel.css" rel="stylesheet" type="text/css" />

</head>
<br />
<style>
    .carousel-control .glyphicons-chevron-left, .carousel-control .glyphicons-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
        font-size: 38px;
        height: 30px;
        margin-left: -17px;
        margin-right: -15px;
        margin-top: -26px;
        width: 30px;
        cursor:pointer;
    }
    
    .carousel-indicators {
        display: none;   
    }
    
    .top {
        margin-top: 9px;   
    }
    
    

</style>
<!--//    <div style="float: left; margin-left: 5px; margin-top: 0px; width: 20%;">
//        <span>{{match.model.tiporegistro}} </span>
//    </div>-->
<script type="text/ng-template" id="customTemplate">
    <div>
        <div id="categorias" class="col-md-1" style="width: 5%">
            {{match.model.tiporegistro}}
        </div>
        <div class="col-md-11">
            <div ng-click="console.log({{match.model.codigo}})">
                <a href="produto/{{match.model.codigo}}" style="width: 100%;">
                <div style="width: 20px; float: left;">
                    <img src="/{{match.model.nomeimagem}}" width="40">
                </div>
            </div>
            <div class="col-md-11">
                <div class="col-md-12">
                    <span bind-html-unsafe="match.label | typeaheadHighlight:query" ng-class="{'top': match.model.fornecedor == null }" style="float: left; margin-left: 5px;" ></span>
                </div>
                <div class="col-md-12">
                    <p><span style="text-decoration: none; font-size: 12px; margin-left: 5px;" ng-if="match.model.fornecedor != null">{{match.model.fornecedor}}</span></p>
                </div>
                </a>
            </div>
        </div>
    </div>
</script>
<body ng-app="GS1Trade.Portal" ng-controller="HomeCtrl">
<div class="row clearfix topo" style="background:#fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-3 column" style="padding: 30px; height:130px;">
                <img alt="140x140" src="/images/logo_gs1_login.png" height="70px">
            </div>
            <div class="col-md-3 column align-middle" style="padding: 30px; height:130px;">
                <h1>
                    GS1 Trade
                </h1>
            </div>
            <div class="col-md-6 column text-right" style="padding: 30px; height:130px;">
                <div class="row clearfix" style="margin-bottom:10px;">
                    <a href="#">
                        <i class="icon-user"></i>
                        Acessar Conta
                    </a>
                </div>
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control col-md-12" ng-model="busca" on-enter="buscar(busca)" typeahead-template-url="customTemplate"  typeahead="resultado as resultado.nome for resultado in autocompletarbusca($viewValue)" typeahead-min-length="3" placeholder="O que você procura?"> 
                        <span class="input-group-btn">
                            <button class="btn btn-primary" ng-click="buscar(busca)" type="button">Buscar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="row" ng-controller="MenuSuspensoCtrl">
            <div class="col-md-12 column">
                <div class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="navbar-collapse collapse in" style="height: 1px;">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Produtos <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="dropdown-menu-content">
                                                <ul class="dropdown-submenu">
                                                    <li ng-repeat="menu in menuSuspenso"><a href="?categoria={{menu.codigo}}"> {{menu.nome}} </a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <!--<li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Serviços <strong class="caret"></strong></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="dropdown-menu-content">
                                                <ul class="dropdown-submenu">
                                                    <li><p><strong>Links Title</strong></p></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                </ul>
                                                <ul class="dropdown-submenu">
                                                    <li><p><strong>Links Title</strong></p></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                </ul>
                                                <ul class="dropdown-submenu">
                                                    <li><p><strong>Links Title</strong></p></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                </ul>
                                                <ul class="dropdown-submenu">
                                                    <li><p><strong>Links Title</strong></p></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                    <li><a href="#"> Link Item </a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#"> Fornecedores </a></li>
                                <li><a href="#"> Contato </a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <button href="#" class="btn btn-sm btn-primary">
                                        <i class="icon-shopping-cart"></i>&nbsp;&nbsp;Cesta de Interesse
                                    </button>
                                </li>
                            </ul>-->
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div>
            </div>
        </div>
	</div>
</div>

<div class="container">
    <div ng-controller="HomeCtrl" id="container">

    	<div class="row clearfix" ng-if="banners.length > 0">
		    <div class="col-md-12 column">
			    <div class="carousel slide" id="carousel-963820">
                    <div class="carousel-inner">
                        <div ng-repeat="banner in banners" class="{{banner.stringClass}}">
                            <img alt="" src="/UploadedFiles/banners/{{banner.src}}">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-963820" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-963820" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
			    </div>
		    </div>
	    </div>
    </div>
  	<br />
    <div class="row">
        <blocomaisbuscados objetobuscado='objetobuscado'></blocomaisbuscados>
    </div>
    <div class="row">
        <blocomaisnegociados objetonegociado='objetonegociado'></blocomaisnegociados>
    </div>
    <div class="row clearfix">
        <blocoprodutodestaque produtosdestaque='produtosdestaque'></blocoprodutodestaque>
	</div>  
<!--    <div class="row text-center">
        <pagination total-items="totalregistros" boundary-links="true" max-size="10" rotate="false" ng-model="paginaatual" first-text="Primeira" previous-text="Anterior" last-text="Última" next-text="Próxima" ng-click="pageChanged(paginaatual)" items-per-page="quantidadeporpagina"></pagination>
    </div> -->    
</div>
    <script type="text/javascript" src="/bower_components/ng-table/ng-table.js"></script>
    <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/bower_components/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/bower_components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="/bower_components/ngScrollTo/ng-scrollto.js"></script>
    <script type="text/javascript" src="/bower_components/angular-treeview/angular.treeview.js"></script>
    <script type="text/javascript" src="/bower_components/angular-block-ui/dist/angular-block-ui.min.js"></script>
    <script src="../../scripts/lib/ng-infinite-scroll.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/bower_components/es5-shim/es5-shim.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular-file-upload/angular-file-upload.min.js"></script>

    <script src="../scripts/portal/app.js" type="text/javascript"></script>

    <script src="/scripts/portal/core/app.directives.js" type="text/javascript"></script>
    <script src="/scripts/portal/index/homeservice.js" type="text/javascript"></script>
    <script src="/scripts/portal/index/homectrl.js" type="text/javascript"></script>-->

<!--    <script src="/scripts/portal/menu/menuservice.js" type="text/javascript"></script>
    <script src="/scripts/portal/menu/menuctrl.js" type="text/javascript"></script>-->
</body>

</html>
