﻿<style>
    .itemdiv {
        min-height: 46px;
        padding-right: 3px;
        position: relative;
    }
    
    .itemdiv.dialogdiv {
        padding-bottom: 0;
    }
    
    .itemdiv.dialogdiv::before {
        background-color: #e1e6ed;
        border-color: #d7dbdd;
        border-width: 0 1px;
        bottom: 0;
        content: "";
        display: block;
        max-width: 3px;
        top: 0;
        width: 3px;
        content: none;
    }
        
    .itemdiv > .body {
        margin-left: 10px;
    }
    
    .itemdiv:hover > .body {
        margin-left: 10px;
    }
    
    .itemdiv .tools {
        display: block;
    }
</style>
<div class="page-content-home" ng-init="initializeDashboard()">
<!--<button ng-click="$storage.counter = $storage.counter + 1">{{$storage.counter}}</button>-->
    <div class="row-fluid" style="font-size:20px; color:white; display: inline-table;">
		<!--<div class="span6">
            <espaco-banner codigo="1" alt="" class="clearfix img-responsive ad"></espaco-banner>
        </div>
        <div class="span6">
            <espaco-banner codigo="2" alt="" class="clearfix img-responsive ad"></espaco-banner>
        </div>-->
        <div class="span12">
            <espaco-banner codigo="1" alt="" class="clearfix img-responsive ad"></espaco-banner>
        </div>
    </div>   
    <br />
    <div class="row-fluid" style="font-size:20px; color:white;">
		<!--<div class="span12">
            <div class="widget-box">
                <div class="widget-header" style="background: #7CA6DB">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-envelope white"></i> &nbsp;  <span class="white" translate="38.LBL_TituloMensagens">Mensagens</span>
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding" style="overflow-y: scroll; height: 108px;" ng-if="mensagensDisponiveis != undefined && mensagensDisponiveis.length > 0 || boletosDisponiveis != undefined && boletosDisponiveis.length > 0">
                         <div class="dialogs" ng-show="boletosDisponiveis != undefined && boletosDisponiveis.length > 0">
                            <div class="itemdiv dialogdiv">
								<div class="body">
									<div class="text red"> A(s) fatura(s) abaixo constam como em aberto em nossos sistemas. Por favor, realize o pagamento o quanto antes para não ter seu acesso bloqueado.</div>
                                    
									<div class="" ng-repeat="boleto in boletosDisponiveis">
										<a href="{{boleto.url}}" class="" target="_blank">
											{{'R$' + boleto.valortitulo}} - {{boleto.datavencimento}} <i class="icon-only ace-icon fa icon-external-link" title="Gerar Boleto"></i>                                            
										</a>                                       
									</div>
								</div>
							</div>
                        </div>
                        <div class="dialogs">
                            <div class="itemdiv dialogdiv" ng-repeat="mensagem in mensagensDisponiveis">
								<div class="body">
									<div class="text blue">{{mensagem.datainicio}} - {{mensagem.nome}}</div>

									<div class="tools">
										<a href="{{mensagem.url}}" class="" target="_blank">
											<i class="icon-only ace-icon fa icon-external-link" title="Exibir"></i>
										</a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="widget-main no-padding" style="overflow-y: scroll; height: 108px;" ng-if="mensagensDisponiveis == undefined || mensagensDisponiveis.length == 0">
                        <span class="blue" style="margin-left: 8px; font-size: 18px;" translate="38.MENSAGEM_SemMensagemDisponivel">Você não possui mensagem disponível.</span>
                    </div>
                </div>
            </div>
        </div>-->
        <!--<div class="span6">
            <div class="widget-box">
                <div class="widget-header" style="background: #AE96C7">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-thumbs-up white"></i> &nbsp; <span class="white" translate="38.LBL_PesquisaSatisfacao">Pesquisa de Satisfação</span>
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding" style="overflow-y: scroll; height: 108px;" ng-if="pesquisasSatisfacaoDisponiveis != undefined && pesquisasSatisfacaoDisponiveis.length > 0">
                        <div class="dialogs">
                            <div class="itemdiv dialogdiv" ng-repeat="pesquisa in pesquisasSatisfacaoDisponiveis">
								<div class="body">
									<div class="text blue" ng-bind="pesquisa.nome"></div>

									<div class="tools">
										<a href="" class="btn-sm btn-info" ng-click="exibirPesquisaSatisfacao(pesquisa)" style="text-decoration: none;"  translate="38.BTN_Exibir">
											Exibir
										</a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="widget-main no-padding" style="overflow-y: scroll; height: 108px;" ng-if="pesquisasSatisfacaoDisponiveis == undefined || pesquisasSatisfacaoDisponiveis.length == 0">
                        <span class="blue" style="margin-left: 8px; font-size: 18px;" translate="38.MENSAGEM_SemPesquisaDisponivel">Você não possui pesquisa de satisfação disponível.</span>
                    </div>
                </div>
            </div>
        </div>-->
    </div> 
    <br />
    <div class="row-fluid" style="font-size:20px; color:white;" ng-if="usuarioLogado.id_tipousuario != 1">
		<div class="span4 blocos-home" style="background:#EA5581;">			
            <div class="row-fluid gotham-alt-font-stack">              	
                <div style="padding-top:30px; padding-bottom:30px;">
                    <table width="80%" border="0" align="center">
  						<tbody>
    						<tr>
      							<td><span translate="38.LBL_TotalProdutos">Total de produtos</span></br><span translate="38.LBL_Cadastrados">cadastrados</span></td>
      							<td>{{totalProdutosCadastrados | number:0}}</td>
    						</tr>
  						</tbody>
					</table>
				</div>            
            </div>        
        </div>
        <div class="span4 blocos-home" style="background:#00AA60;">         
            <div class="row-fluid gotham-alt-font-stack">                 
                <div style="padding-top:30px; padding-bottom:30px;">
                    <table width="80%" border="0" align="center">
  						<tbody>
    						<tr>
      							<td><span translate="38.LBL_TotalProdutos">Total de produtos</span></br><span translate="38.LBL_Ativos">ativos</span></td>
      							<td>{{totalProdutosPublicados | number:0}}</td>
    						</tr>
  						</tbody>
					</table>
				</div>            
            </div>                    
        </div>
        <div class="span4 blocos-home" style="background:#F6AA33;">            
            <div class="row-fluid gotham-alt-font-stack">                 	
                <div style="padding-top:30px; padding-bottom:30px;">
                    <table width="80%" border="0" align="center">
  						<tbody>
    						<tr>
                                <td><span translate="38.LBL_TotalProdutos">Total de produtos</span></br><span translate="38.LBL_Desativados">desativados</span></td>
      							<td>{{totalProdutosDesativados | number:0}}</td>
    						</tr>
  						</tbody>
					</table>
				</div>                             
            </div>           
        </div>
    </div>   
    
    <div class="row-fluid" style="font-size:20px; color:white;" ng-if="usuarioLogado.id_tipousuario == 1">
        <div class="span3 blocos-home" style="background:#8db9ca;">			
            <div class="row-fluid gotham-alt-font-stack">              	
                <div style="padding-top:30px; padding-bottom:30px;">
                    <table width="80%" border="0" align="center">
  						<tbody>
    						<tr>
      							<td style="color:white;"><span translate="38.LBL_TotalEmpresas">Total de empresas</span></br><span translate="38.LBL_Ativas">ativas</span></td>
      							<td>{{totalEmpresasAtivas | number:0}}</td>
    						</tr>
  						</tbody>
					</table>
				</div>            
            </div>        
        </div>
        <div class="span3 blocos-home" style="background:#EA5581;">			
            <div class="row-fluid gotham-alt-font-stack">              	
                <div style="padding-top:30px; padding-bottom:30px;">
                    <table width="80%" border="0" align="center">
  						<tbody>
    						<tr>
                                <td><span translate="38.LBL_TotalProdutos">Total de produtos</span></br><span translate="38.LBL_Cadastrados">cadastrados</span></td>
      							<td>{{totalProdutosCadastrados | number:0}}</td>
    						</tr>
  						</tbody>
					</table>
				</div>            
            </div>        
        </div>
        <div class="span3 blocos-home" style="background:#00AA60;">         
            <div class="row-fluid gotham-alt-font-stack">                 
                <div style="padding-top:30px; padding-bottom:30px;">
                    <table width="80%" border="0" align="center">
  						<tbody>
    						<tr>
      							<td><span translate="38.LBL_TotalProdutos">Total de produtos</span></br><span translate="38.LBL_Ativos">ativos</span></td>
      							<td>{{totalProdutosPublicados | number:0}}</td>
    						</tr>
  						</tbody>
					</table>
				</div>            
            </div>                    
        </div>
        <div class="span3 blocos-home" style="background:#F6AA33;">            
            <div class="row-fluid gotham-alt-font-stack">                 	
                <div style="padding-top:30px; padding-bottom:30px;">
                    <table width="80%" border="0" align="center">
  						<tbody>
    						<tr>
      							<td><span translate="38.LBL_TotalProdutos">Total de produtos</span></br><span translate="38.LBL_Desativados">desativados</span></td>
      							<td>{{totalProdutosDesativados | number:0}}</td>
    						</tr>
  						</tbody>
					</table>
				</div>                             
            </div>           
        </div>
    </div>
    <br />
    <div class="row-fluid" style="font-size:20px; color:white;">
		<div class="span5" style="background:#BBD22F; min-height: 321px" block-ui="blockEtiquetas">			
            <div class="row-fluid gotham-alt-font-stack">
                <div style="padding:0px;">
                    <table width="80%" border="0" align="center">
  						<tbody>
    						<tr>
      							<td style="padding:15px;" translate="38.LBL_TotalEtiquetas">Total de etiquetas</br>geradas</td>
                                <td>{{totaletiquetas | number:0}}</td>
    						</tr>
    						<tr>
      							<td colspan="2">
                                    <div id="chartEtiquetas" style="width:100%;height:200px"></div>
                                    <!--<img class="img-responsive" src="/images/login/etiquetasGeradas.png">-->
                                </td>
    						</tr>
  						</tbody>
					</table>

				</div>   
            </div>         
        </div>
        <div class="span2" style="background:#008FD4; min-height: 321px" block-ui="blockElaboracao">        
            <div class="row-fluid gotham-alt-font-stack">
                <div style="padding:21px;">
                    <table width="80%" border="0" align="center">
  						<tbody>
    						<tr>
      							<td translate="38.LBL_ProdutosElaboracao">Produtos em</br>elaboração</td>
    						</tr>
    						<tr>
      							<td align="center">
                                    <div id="chartPreenchimento"
                                        data-dimension="130"
                                        data-text="{{totalProdutosEmPreenchimento|number:2}}<span style='font-size:20px'>%</span>"
                                        data-width="40"
                                        data-fontsize="32"
                                        data-percent="{{totalProdutosEmPreenchimento}}"
                                        data-fgcolor="#7BB746"
                                        data-bgcolor="#eee"
                                        data-fill="#ddd"
                                        data-bordersize="20"
                                        style="margin-bottom: 5px; margin-top: 5px;"></div>
                                </td>
    						</tr>
  						</tbody>
					</table>
				</div>   
            </div>        
        </div>

        <div class="span5">
            <div class="widget-box">
                <div class="widget-header" style="background: #7CA6DB">
                    <h4 class="widget-title lighter smaller">
                        <i class="ace-icon fa fa-comment white"></i> &nbsp;  <span class="white" translate="38.LBL_TituloNoticias">Notícias</span>
                    </h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding" style="overflow-y: scroll; height: 273px;" ng-if="noticiasDisponiveis != undefined && noticiasDisponiveis.length > 0">
                        
                        <div class="dialogs">
                            <div class="itemdiv dialogdiv" ng-repeat="noticia in noticiasDisponiveis">
								<div class="body">
									<div class="text blue">{{noticia.datainicio}} - {{noticia.nome}}</div>

									<div class="tools">
										<a href="{{noticia.url}}" class="" target="_blank">
											<i class="icon-only ace-icon fa icon-external-link" title="Exibir"></i>
										</a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="widget-main no-padding" style="overflow-y: scroll; height: 108px;" ng-if="noticiasDisponiveis == undefined || noticiasDisponiveis.length == 0">
                        <span class="blue" style="margin-left: 8px; font-size: 18px;" translate="38.MENSAGEM_SemNoticiaDisponivel">Nenhuma notícia disponível.</span>
                    </div>
                </div>
            </div>
        </div>


    </br><br />
    <div class="row-fluid text-right">
		<div class="span12">
			<div class="row gotham-alt-font-stack" style="margin-top:15px;"> 	
            	Powered by <img src="/images/login/rodape.png">
            </div>
        </div>
    </div>
</div>

