body{
    background-color: #f5f5f5;
}

.text-middle {
    vertical-align: middle;
}

/* MENU ---------------------------------------------*/
.navbar-nav > li{
    width: 150px;
}

.navbar-nav .dropdown{
    position:static;
}

.navbar-nav .dropdown-menu {
    left:auto;
}

.navbar-right li{
    width: 200px;
    padding: 10px;
}

.dropdown-menu-content > li{
    list-style: none;
}

.dropdown-menu-content{
    display: block;
}

.dropdown-menu-content > li{
    list-style: none;
}

.dropdown-menu-content:after{
    display: table;
    content: "";
    line-height: 0;
}

.dropdown-submenu{
    list-style: none;
    width: 230px !important;
    display: inline-block;
    float: left;
}

.dropdown-submenu a{
    display: block;
}

.dropdown-submenu a:hover{
    display: block;
    /*border-bottom: 1px solid #00306B;*/
    color: #F26334;
    text-decoration: none !important;
}

@media (min-width: 1200px){
    .dropdown-menu li:hover .sub-menu {
        visibility: visible;
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }
    
    .topo{
        height: 182px;
    }
}
/*FIM MENU ---------------------------------------------*/

.carousel-produtos .carousel-inner{
    margin-left:10px;
    margin-top:10px;
}

.carousel-produtos .carousel-inner .item>div{
    width:260px;
    display: inline-block;
    float: left;
    margin: 0 10px 0 10px;
}


.carousel-produtos .thumbnail {
    width: 100%;
    height: 180px;
    overflow: hidden;
    border: 0;
    box-shadow: 0 12px 12px -10px #c4c4c4;
    -webkit-box-shadow: 0 17px 22px -20px #c4c4c4;
    -moz-box-shadow: 0 12px 12px -10px #c4c4c4;
    
}
.carousel-produtos .thumbnail img { width:100%; height:auto; }
.carousel-produtos .thumbnails p {
    text-align: center;
    padding: 10px;
}

.carousel-produtos .carousel-control.left{
    background-image: none;
}

.carousel-produtos .carousel-control.right{
    background-image: none;
}

.carousel-produtos .carousel-control{
    height: 50px; width: 50px; top: 127px;
}

.carousel-produtos .carousel-control{
    background: #222222;
    border: 3px solid #ffffff;
    -moz-border-radius: 23px;
    border-radius: 32px;
}

.carousel-produtos .carousel-control .glyphicon-chevron-left{
    left: 12px; 
    top:13px;
}

.carousel-produtos .carousel-control .glyphicon-chevron-right{
    left: 12px; 
    top:13px;
}

.carousel-produtos .carousel-inner {
    height: 300px;
}

footer{
    padding: 25px;
}
