[class*="bg-"] {
    height: 7px;
    margin-bottom: 0; 
}

.bg-purple {
    background-color: #bf83b9 /*!important*/;
}
.bg-navy {
  background-color: #002c6c /*!important*/;
}
.bg-darkgray {
  background-color: #454545 /*!important*/;
}
.bg-blue {
  background-color: #008dbd /*!important*/;
}
.bg-mediumgray {
  background-color: #b1b3b3 /*!important*/;
}
.bg-white {
  background-color: #ffffff /*!important*/;
}
.bg-lightgray {
  background-color: #f4f4f4 /*!important*/;
}
.bg-orange {
  background-color: #f26334 /*!important*/;
}
.bg-mediumpink {
  background-color: #f05587 /*!important*/;
}
.bg-pink {
  background-color: #f38ab3 /*!important*/;
}
.bg-mutedpurple {
  background-color: #bf83b9 /*!important*/;
}
.bg-brightorange {
  background-color: #ff8200 /*!important*/;
}
.bg-peach {
  background-color: #fbb034 /*!important*/;
}
.bg-sky {
  background-color: #00b6de /*!important*/;
}
.bg-teal {
  background-color: #22bcb9 /*!important*/;
}
.bg-mediumgreen {
  background-color: #7ac143 /*!important*/;
}
.bg-yellowbrown {
  background-color: #c4b000 /*!important*/;
}
.bg-mint {
  background-color: #71b790 /*!important*/;
}
.bg-lime {
  background-color: #c1d82f /*!important*/;
}
.bg-lavender {
  background-color: #b8acd6 /*!important*/;
}
.bg-redbrick {
  background-color: #d3875f /*!important*/;
}
.bg-olive {
  background-color: #9dbb68 /*!important*/;
}
.bg-bluesteel {
  background-color: #8db9ca /*!important*/;
}
.bg-brown {
  background-color: #b78b20 /*!important*/;
}
.bg-green {
  background-color: #00b74f /*!important*/;
}