/* ------------------------------------------------------------
   --------     FOLHA DE ESTILO DO SITE GS1 CNP     --------
   --------     CRIAÇÃO: 05/08/2015 15:50           --------
------------------------------------------------------------ */


/* ------------------------------------------------
                        HEADER
  ------------------------------------------------ */
#DeltaSiteLogo {
    float: left;
    margin-right: 19px;
}

.welcome {
	font-size: 16px;
	position: relative;
	margin-left: 178px;
	/*margin-left: 280px;*/
	text-align: left;
	line-height: 17px;
	margin-top: -3px;
}

.welcome .difer {
	font-weight: 500;
	font-style: normal;
	font-size: 19px;
	color: #454545;
	margin-bottom: 3px;
	font-family: 'Gotham SSm A', 'Gotham SSm B', Verdana, sans-serif;
}

.ms-siteicon-img {
    max-width: 95px;
    max-height: 61px;
    position: absolute;
    /*z-index: 9999;*/
}

.logoCNP {
	font-size: 16px;
	position: relative;
	margin-top: 20px;
	/*margin-left:121px;*/
	text-align: left;
	line-height: 17px;
}

.ms-siteiconCNP-img {
    margin-left: -8px;
    margin-top: -12px;
    max-height: 96px;
    max-width: 150px;
    position: absolute;
    /*z-index: 9999;*/
}

.ms-siteiconLinhaCNP-img {
    max-width: 150px;
    max-height: 96px;
    position: absolute;
    /*z-index: 9999;*/
    margin-left: 106px;
    height: 60px
}

.verticalLine {
    border-left: 1px solid #bbbbbb;
}

.toolkit .logo img {
    height: 68px;
    margin-right: 22px;
}

.toolkit .logo {
    border-bottom: none;
}

.toolkit .navbar-default {
    background-color: #f5f5f5 !important;
    background-image: none;
    border-bottom: 1px solid #b1b3b3;
}

.ancillary-nav .list-inline li:first-child {
    border: medium none;
    margin: 0;
    padding: 0;
}

.ancillary-nav .list-inline li {
    border-left: 1px solid #b2b2b8;
    display: inline-block;
    margin-left: 4px;
    padding-left: 8px;
    padding-top: 2px;
}

.ancillary-nav .list-inline li a {
    display: block;
    line-height: 14px;
}

.ancillary-nav .list-inline li a.difer {
    color: #f26334;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
}

.page-header {
    background-color: white;
}

.btnHeader
{
    margin-top: 7px;
}

/* ------------------------------------------------
                      FIM HEADER
  ------------------------------------------------ */


/* ------------------------------------------------
                        LOGIN
  ------------------------------------------------ */
.js-webpart-titleCell, .ms-webpart-controlBox, .js-webpart-menuCell, .ms-webpart-checkboxTd {
    display: inline-block;
}

.js-webpart-titleCell {
    width: 100%;
}

.ms-webpart-chrome-title, .ms-webpart-chrome.ms-webpart-chrome-vertical, .ms-WPBorder {
    height: auto !important;
    width: 100% !important;
}

.ms-webpart-zone, .ms-webpart-chrome-vertical, .ms-webpart-cell-vertical {
    display: block;
}

.ms-webpart-chrome-title, .ms-webpart-chrome.ms-webpart-chrome-vertical, .ms-WPBorder {
    height: auto !important;
    width: 100% !important;
}

.ms-webpart-chrome-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #b2b2b8;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    margin: 0;
}

.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a {
    border-bottom: 1px solid #b2b2b8;
    color: #032c6c;
    font-family: "Gotham SSm A","Gotham SSm B",Verdana,sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 20px 10px;
    padding-bottom: 14px;
}

.ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a {
    color: #0c2c66;
    font-family: "Segoe UI Semilight","Segoe UI","Segoe",Tahoma,Helvetica,Arial,sans-serif;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ms-webpart-chrome-title, .ms-webpart-chrome.ms-webpart-chrome-vertical, .ms-WPBorder {
    height: auto !important;
    width: 100% !important;
}

.ms-WPBorder {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #fff none repeat scroll 0 0;
    border-color: -moz-use-text-color #b2b2b8 #b2b2b8;
    border-image: none;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding: 0 20px 20px;
    border: 1px solid #B2B2B8;
    border-top: none;
}

.login-box .toolbar {
    background: #22bcb9 none repeat scroll 0 0;
    /*border-top: 2px solid #597597;*/
}

.login-box .toolbar > div:first-child > a {
    margin-left: 11px;
}

.login-box .forgot-password-link {
    color: #fff;
}

.login-box .toolbar > div {
    display: inline-block;
    padding: 13px 0 13px;
    width: 50%;
}

.center, .align-center {
    text-align: center !important;
}

.forgot-box .toolbar {
    background: #ff8200 none repeat scroll 0 0;
    /*border-top: 2px solid #976559;*/
    padding: 12px 18px;
}

.forgot-box .back-to-login-link, .signup-box .back-to-login-link {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.25);
}

.widget-box.visible {
    transform: scale(1, 1) translate(0px);
    transition: all 0.3s ease 0s;
    visibility: visible;
}

@media (max-width: 1200px) {
    .bloco-informacao {
        display: none;
    }
}

/* ------------------------------------------------
                     FIM LOGIN
  ------------------------------------------------ */


/* ------------------------------------------------
                      FOOTER
------------------------------------------------ */
.toolkit footer {
    /*margin-top: 20px !important;*/
    margin-top: 3% !important;
    margin-bottom: 0px !important;
}
/* ------------------------------------------------
                    FIM FOOTER
------------------------------------------------ */



/* ------------------------------------------------
                   MENU LATERAL
------------------------------------------------ */
.sidebar {
    margin-top: 90px;
}

@media (max-width: 991px) {
    .slimScrollDiv {
        /*display: none;*/
        margin-top: 40px;
    }

    .navigation {
        margin-left: 0px !important;
    }
}

/* ------------------------------------------------
                  FIM MENU LATERAL
------------------------------------------------ */



/* ------------------------------------------------
                     CABEÇALHO
------------------------------------------------ */
.cabecalho-site, .cabecalho-site h1, .cabecalho-site h1 img, .menu-site {
    transition: all 0.1s ease-in-out 0s;
}

.cabecalho-site {
    background-color: #f5f5f5 !important;
    background-image: none;
    border-bottom: 1px solid #b1b3b3;
    color: #000;
    height: 90px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 100;
}

.posicao-cabecalho {
    margin-left: 15px;
    margin-right: 15px;
}
/* ------------------------------------------------
                   FIM CABEÇALHO
------------------------------------------------ */


/* ------------------------------------------------
                     GERAL
------------------------------------------------ */
.navbar-nav {
    font-family: "Gotham SSm A","Gotham SSm B",Verdana,sans-serif;
    font-size: 14px;
}

.navbar .navbar-nav > li > a, .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    font-size: 14px;
}

.breadcrumbs {
    margin: 0px 0 0;
    margin-left: 10px;
}

.page-content {
    margin: 0px 0 0;
}

.navbar {
    /*background-color: #008dbd;*/
    color: black;
}

.page-header {
    border-bottom: none;
    margin: 0 0 -6px;
    padding-bottom: 8px;
}

.cursor-not-allowed {
    cursor: not-allowed;
}
/* ------------------------------------------------
                   FIM GERAL
------------------------------------------------ */



/* ------------------------------------------------
                    MAIN CONTENT
------------------------------------------------ */
/*.main-content {
    margin-left: -5px;
}*/
/* ------------------------------------------------
                 FIM MAIN CONTENT
------------------------------------------------ */


/* ------------------------------------------------
                   BUTTONS
------------------------------------------------ */
.btn-new {
    background-color: #00b6de !important;
    border: transparent;
}

.btn-search {
    background-color: #00b74f !important;
    border: transparent;
}

.action-buttons-header {
    margin-top: -35px;
    margin-right: -10px;
}

.information {
    font-size: 90%;
    margin-bottom: 10px;
}

.btn-user {
    background-color: #22bcb9 !important;
    box-shadow: none;
    color: #fff;
    text-align: left;
    width: 100%;
    border: transparent;
}

.btn-user:hover, .btn-user:focus {
    background-color: #22bcb9 !important;
}

.dropdown-user {
    min-width: 230px !important;
    width: 192px !important;
}

.btn-primary {
    background: #f26334 none repeat scroll 0 0 !important;
    border-color: transparent;
}

.btn-primary:hover, .btn-primary:focus {
    background: #cc532b none repeat scroll 0 0 !important;
    border-color: transparent;
    text-decoration: none;
}

.btn-primary:hover, .open .btn-primary.dropdown-toggle {
    background-color: #cc532b !important;
    border-color: transparent;
}
/* ------------------------------------------------
                   FIM BUTTONS
------------------------------------------------ */


/* ------------------------------------------------
                   MENU HORIZONTAL
------------------------------------------------ */
.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: none;
    float: left;
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 325px;
    /*padding: 5px 0;*/
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.open > .dropdown-menu {
    display: block;
}

ul.dropdown-menu {
    max-height: none;
    overflow-x: hidden;
}

.yamm .dropdown-menu {
    border: 0 none;
    padding: 10px 10px 20px;
}

.navbar-nav > li > .dropdown-menu {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}

/*.dropdown-menu {
    border-radius: 0;
    border-top: 0 none;
    box-shadow: none;
    margin-top: 0;
    padding-bottom: 15px;
    width: 100%;
}*/

.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.yamm .dropdown-menu {
    box-shadow: 0 9px 25px -6px rgba(0, 0, 0, 0.4);
}

.yamm .dropdown-menu {
    background-color: #f4f4f4;
    padding: 30px 45px 20px;
}

.navbar-default .navbar-nav > li.active {
    background: rgba(0, 0, 0, 0) url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iMXB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDEgOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMSA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHJlY3QgZmlsbD0iI0YyNjMzNCIgd2lkdGg9IjEiIGhlaWdodD0iOCIvPgo8L3N2Zz4=") repeat-x scroll 0 0;
}

.section {
    list-style: outside none none;
}

.yamm .dropdown-toggle::after {
    font-size: 0.9em;
    position: relative;
    right: -8px;
    transform: rotate(0deg);
}
.yamm .dropdown-toggle::after {
    /*content: "";*/
    font-family: gs1_icons;
    position: absolute;
    right: 0;
    transform: rotate(-90deg);
    transition: transform 250ms ease 0s;
}

.yamm h4 {
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    color: #428bca;
    font-weight: 400;
}

.dropdown-menu li a:hover {
    background-color: transparent;
    color: #f26334;
    text-decoration: none;
}

.dropdown-menu li a {
    color: #002c6c;
}

.yamm h5 + h5 {
    border-top: 1px solid #b1b3b3;
    margin-top: 12px;
    padding-top: 12px;
}

.dropdown-menu i {
    margin-right: 8px;
}

.yamm .section {
    border-bottom: 1px solid #b1b3b3;
    margin-left: 0px;
}

.section li:last-child{
    margin-bottom: 15px;
}

a:focus {
    outline: 0;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: white;
}

.slogan {
    color: #454545;
}

.nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover, .nav > li.dropdown.open.active > a:focus {
    background-color: transparent;
    border-color: transparent;
    /*color: #002c6c;*/
}

.icone-menu {
    margin-top: 4px;
    font-size: 12px;
}

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active, .dropdown-menu li.active a, .dropdown-menu li.active a:hover, .dropdown-menu .dropdown-submenu:hover > a, .nav-tabs .dropdown-menu li > a:focus {
    background-color: transparent;
    color: #f26334;
}

#menu-toggler {
    /*  display: none;*/
}

.main-image {
    z-index: 1000 !important;
}

.navbar .yamm .navbar-default {
    z-index: 9999 !important;
}

/*-- MENU TELA DE LOGIN --*/

.toolkit .dropdown-toggle, .toolkit .btn-group.open .dropdown-toggle {
    background-color: transparent;
    color: #032c6c;
}

.nav.navbar-nav a {
    color: #032c6c;
}

.toolkit .dropdown-toggle, .toolkit .btn-group.open .dropdown-toggle, .toolkit .dropdown-toggle.open, .toolkit .btn-group.open .dropdown-toggle.open, .toolkit .dropdown-toggle:hover, .toolkit .btn-group.open .dropdown-toggle:hover, .toolkit .dropdown-toggle:focus, .toolkit .btn-group.open .dropdown-toggle:focus {
    border: medium none;
}

.toolkit a:focus, .toolkit a:hover {
    background: transparent;
}

.toolkit .nav > li > a:hover, .toolkit .nav > li > a:focus {
    background-color: transparent;
    text-decoration: none;
}

.gs1MenuNav .dropdown-menu {
    background-color: #f5f5f5;
    border: medium none;
    border-radius: 0;
    font-family: "Gotham SSm A","Gotham SSm B",Verdana,sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-top: 20px;
}

.gs1MenuNav .navbar-nav > li:hover > a, .gs1MenuNav .navbar-nav > li.menuSelecionado > a {
    color: #f26334;
    background: transparent;
}

.gs1MenuNav h4 + h4 {
    border-top: 1px solid #b1b3b3;
    margin-top: 12px;
    padding-top: 12px;
}

.gs1MenuNav .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.gs1MenuNav .dropdown-menu {
    box-shadow: 0 9px 25px -6px rgba(0, 0, 0, 0.4);
}

.gs1MenuNav .dropdown-menu {
    background-color: #f4f4f4;
    padding: 30px 45px 20px;
}
/* ------------------------------------------------
                FIM MENU HORIZONTAL
------------------------------------------------ */

.dropdown-menu li a:hover, .dropdown-menu li a:focus, .dropdown-menu li a:active, .dropdown-menu li.active a, .dropdown-menu li.active a:hover, .dropdown-menu .dropdown-submenu:hover > a, .nav-tabs .dropdown-menu li > a:focus {
    color: #fff;
}

.dropdown-user li a:hover, .dropdown-user li a:focus, .dropdown-user li a:active, .dropdown-user li.active a, .dropdown-user li.active a:hover, .dropdown-user .dropdown-submenu:hover > a, .nav-tabs .dropdown-menu li > a:focus {
    color: #f26334;
}

.selecionarAssociado
{
    margin-top: 7px;
    margin-right: 7px;
}

.icon-sort::before{
  font-size: 10px;
  vertical-align: middle;
  cursor: pointer;
}

.destacarDecricao {
    border-color: #66afe9;   
}

.borderCkeditor {
    border: 1px solid #f09784 !important;   
}
/* ------------------------------------------------
                       TABLES
------------------------------------------------ */
/*.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #f5f5f5;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
    background-color: #ddd;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}*/
/* ------------------------------------------------
                     FIM TABLES
------------------------------------------------ */

/*.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #fff;
    border-color: #4c8fbd #c5d0dc transparent;
    border-top: 2px solid #f26334;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.15);
    color: #576373;
    line-height: 16px;
    margin-top: -1px;
    z-index: 12;
}*/

