﻿@charset "UTF-8";

*{
	padding:0;
	margin:0;
}

.logoCadastro{
	padding:15px;	
}
.textoCadastro p{
	vertical-align:middle;
	padding-left:75px;
	padding-top:52px;
}
.bg{
	background:url(/images/login/bg.jpg) no-repeat center center;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	width: 100%;
    position: fixed;
    height: 100%;
	max-width: 100%;
}
.rodape {
    background: #FFFFFF;
    opacity: 0.6;
    width: 100%;
    margin-top: -103px;
    position: absolute;
    padding: 15px;
    bottom: 0;
}
.form-box{
	background:#fff;
	width:590;
	border-top:6px solid #7AC043;
	padding:28px;
	z-index:999;
	box-shadow: 0px 0px 20px #808080;
   -webkit-box-shadow: 0px 0px 20px #808080;
   -moz-box-shadow: 0px 0px 20px #808080;
}
.formularioLogin{
	padding-top:35px;
}
.tituloFormulario{
	padding-left: 75px;
	margin-top: -35px;
	font-size:24px;
	color:#6D6E71;
}
.espacamento{
	padding-right: 20px;
}
.fontenormal{
	font-size:14px;
	color:#6D6E71;	
}

.row-fluid .span4 {
    width: 31.6239%;
}

.red {
    color: #dd5a43!important;
}

.row-fluid [class*="span"] {
    box-sizing: border-box;
    display: block;
    float: left;
    margin-left: 2.5641%;
    min-height: 30px;
    width: 100%;
}

.topTitleLogin {
    margin-top: 61px;   
}

@media screen and (min-width: 1200px) and  (max-width: 1370px) {

.bot-pass-w {
    width: 100%;
    margin-bottom: 10px;
}

.form-box {
    padding: 20px;
}

.textoCadastro p {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 39px;
}

.tamanhoImagemLogo {
    width: 200px;
    height: auto;   
}

.textoLogo {
    padding-bottom:30px;
}

.topTitleLogin {
    margin-top: 25px;   
}

}

@media screen and  (max-height: 800px) {

.bg{
	position: absolute;
	min-height: 650px;
}

.rodape{	
	position: fixed ;
}

}
