/* Space out content a bit */
a.disabled {
    pointer-events: none;
    cursor: default;
}

 body > .container {
    width: 100% !important;
    max-width: 100% !important;
    padding: 0 !important;
}

.navbar-header.pull-left {
    height: 45px;
}

.nav-list > li .submenu {
    display: block; 
    font-size: 12px;
}

.menu-text {
    font-family: Calibri;
    font-size: 12pt;
}

.sidebar {
    width: 185px;
    position: fixed;
}

.sidebar:before {
    width: 195px;
}

.slimScrollBar{
    opacity: 0.25 !important;
}

.main-content {
    margin-left: 185px;
}

.page-container {
	width: 100%;
	position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.btn-scroll-up{
    position: fixed !important;
}

.form-container {
    width: 83%;
    z-index: 0;
    position: absolute;
}

.grid-container {
    position: relative;
    z-index: 1;
    margin-left: 0%;
    transition: margin 0.8s ease-in-out 0s;
    width: 100%;
}

.import-container {
	top: 0px;
    width: 100%;
    z-index: 3;
    position: absolute;
    transition: margin 1s ease 0s;
	margin-top: -120%;
}

.importContainerShow {
	margin-top: 0%;
    top: 67px;
}

.import-container span {
	float: left;
}

.gridHidden {
    pointer-events: none;
    margin-left: 85%;
    transition: margin 0.8s ease-in-out 0s;
    width: 100%;
}

.gridHidden .page-header {
	width: 15%;
}

.grid-container table.table thead  tr, table.table .grid-container tbody,  {
	display: block;
}

.page-header i {
    color: #F26334;
    font-size: 24px;
    font-weight: lighter;
    position: absolute;
    cursor: pointer;
}

.page-header label {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #F26334;
    font-size: 24px;
    font-weight: lighter;
    margin-left: 35px;
    margin-top: -7px;
}

.pagination > li {
    display: inline-block !important;
}

.pagination {
    white-space: nowrap;
}

.widget-toolbar > a {
    font-size: 18px;
    margin: 0 5px;
}

.input-wrapper {
    height: 20px;
    overflow: hidden;
    position: relative;
    background-color: #2679B5;
    cursor: pointer;
	color: #fff;
	text-align: center;
}

.file-input {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size: 50px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;    
}

.right-inner-addon i.glyphicon-refresh {
    right: -30px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
}

.right-inner-addon .icon-search {
    cursor: pointer;
}

.typeahead-row {
	margin: 0;
	padding-left: 10px;
	list-style-type: none;
	width: 400px;
}

.typeahead-col {
	display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	width: 20%;
}

.typeahead-col:nth-child(2) {
	width: 70%;
}

.slimScrollBar {
    border-top-left-radius: 7px !important;
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.*/
 @media (max-width: 992px) {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        /*display: block !important;*/
    }
    table {
        width: auto !important;
        height: auto !important;
    }
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute ;
        top: -9999px !important;
        left: -9999px !important;
    }
    tr {
        border: 1px solid #ccc !important;
    }
    td {
        /* Behave  like a "row" */
        border: none !important;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 50% !important;
        width: 100% !important;
    }    
    td:before {
        /* Now like a table header */
        position: absolute !important;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(title);
    }	
    td.action-buttons {
    	padding-left: 0% !important;
    	text-align: center;

    }
    td.action-buttons:before{
    	
    }
	 
	 /* Não tem importação para mobile */
	.import-container {
		display: none;
	}
	.widget-toolbar .import {
		display: none;
	}
     
     .btn-pasta-ciclo{
        margin-bottom: 2px;
        float: none !important;
        max-width: none !important;
        clear: both;
    }
}

.loader{
	font-size: 186%;
    right: 15px !important;
    top: -5px;
    -webkit-animation: 1.5s linear 0s normal none infinite spin;
}

.gritter-center{
    position: fixed !important;
}

.block-ui-loader{
	font-size: 110%;
    -webkit-animation: 1.5s linear 0s normal none infinite spin;
    -moz-animation: 1.5s linear 0s normal none infinite spin;
    animation: 1.5s linear 0s normal none infinite spin;
}

.block-ui-message{
    background-color: #275A77;
}

.my-tab:before{
    border: none;
}

.table-bordered {
    border: 1px solid #ddd !important;
}

.dropdown-menu li.active.ng-scope {
    background: #4f99c6;
}

ul.dropdown-menu{
    max-height: 165px;
    overflow-x: hidden;
}

.content-min{
    margin-left: 43px;
}

.menu-min.sidebar {
    width: 43px !important;
    overflow: visible !important;
}

.scroll-min{
    width: 43px !important;
    overflow: visible !important;
    z-index: 99;
}


.reticents{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.planejamento-container{
    width: 100%;
    z-index: 0;
    position: absolute;
}

.btn-pasta-ciclo{
    margin-bottom: 2px;
    float: right;
    max-width: 200px;
    clear: both;
}

@media screen and (max-width: 768px) {
    .slimScrollDiv{
        z-index: 99;
    }
}

@media (min-width: 992px) {
    #box-resumo-tipo-verba .widget-body{
        overflow: auto;
    }

    #box-resumo-tipo-verba .widget-main{
        min-width: 2100px;
    }


    #box-itens-pasta-ciclo .widget-body{
        overflow: auto;
    }

    #box-itens-pasta-ciclo .widget-main{
        min-width: 6000px;
    }
}

 .modal-manutencao .modal-dialog{
     width: 100% !important;
 }

.wizard-steps li.complete, .wizard-steps li.complete * {
    cursor: pointer !important;
}

.modal-1400 .modal-dialog{
    max-width: 1400px !important;
    width: 90% !important;
}

.modal-1000 .modal-dialog{
    max-width: 1000px !important;
    width: 90% !important;
}

.widget-color-orange>.widget-header {
    color: #855d10 !important;
    border-color: #e8b10d;
    background: #ffc657;
}

.widget-color-orange {
    border-color: #e8b10d;
}

.slim-scroll table {
    margin-bottom: 0px;
}

.table-nofooter {
     margin-bottom: 0px;
}

.table-nofooter tfoot {
    display: none;    
}

.tr-selected td {
    background: none repeat scroll 0 0 #F3FFD5 !important;
}




body {
    font-family: Calibri;
    font-size: 12pt;
}
.navbar {
    background-color: #002C6C;
}

.ico-gs1 {
    background-image: url(../images/logo_gs1.png)
}

.widget-header {
    color: #002C6C;
}

.widget-toolbar a i {
    color: #002C6C;
}

.breadcrumb {
    font-family: Calibri;
    font-size: 12pt;
}

.breadcrumb>li>a {
    color: #002C6C;
}

.nav-list>li.active>a, .nav-list>li.active>a:hover, .nav-list>li.active>a:focus, .nav-list>li.active>a:active {
    color: #002C6C;
}

.nav-list li.active>a:after {
    border-right-color: #002C6C;
}

.nav-list > li .submenu {
    font-size: 12pt;
}

label, .dropdown-menu>li>a, .dropdown-menu, .user-info small {
    font-family: Calibri;
    font-size: 12pt;
}

.navbar-header small label {
    font-family: Myriad;
    font-size: 20pt;
}

.navbar-header .navbar-brand img {
    height:32px;
    margin-top: -3px;
}

.widget-main th div {
    font-family: Myriad;
}

.btn, .btn-sm 
{
    font-family: Myriad;
    font-size: 12pt;
}

@font-face {
    font-family: 'Calibri';
    src: url("../font/MyriadPro-Light.otf") format("opentype");
}
@font-face {
    font-family: 'Myriad';
    src: url("../font/MyriadPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: 'MyriadItalic';
    src: url("../font/MyriadPro-Italic.ttf") format("opentype");
    font-style:italic;
}

.exibeVoltar
{
    padding-left: 35px;
}
    
.exibeVoltar > a
{
    margin-left: -35px;
    margin-top: 12px;
    position: absolute;
    pointer-events: all;
}

.tableVoltar
{
    display: inline-table !important;
}
.tableNaoExibeVoltar
{
    display: table !important;
}

.tab-pane .widget-toolbar:before
{
    border: 1px solid #ffffff !important;
}

.cesta {
    margin-top: 8px;
    background-repeat: no-repeat;
    background-position: 10px 7px;
    padding-left: 40px !important;
    background-image: url('../assets/images/icons-cesta.png');
}

#cesta_interesse .message-item i:before
{
    width: 15px;
    text-align:center;
}

#cesta_interesse .message-item 
{
    background-color:auto;
}

#cesta_interesse .pagination li a
{
    cursor:pointer;
}

#cesta_interesse .message-header {
    background-color: #f1f1f1;
    padding: 12px 16px;
    border: 1px solid #e6e6e6;
    border-width: 1px 0;
    border-top: 1px solid #e4e9ee;
}

#produtos_servicos img
{
    width: 95px;
    height: 95px;
}

/*#produtos_servicos .time
{
    margin-top: 39px;
}*/

#produtos_servicos .corpoPergunta {
    padding-bottom: 0px !important;
    background-color: #f4f4f4 !important;
    margin-bottom: 5px !important;
    margin-left: 10px !important;
}

#produtos_servicos .highlight {
    display: block !important;
    margin: 10px 0 40px;
    clear: both;
    float: none;
    padding: 10px 20px 20px;
    background-color: #f4f4f4;
}

#produtos_servicos .titleQuestions {
    color: #002c6c;
    font-weight: 400;
    font-size: 20px;
}

#produtos_servicos .positionDateHistorico {
    float: right;
    font-weight: bold;
    margin-top: 5px;
}

#produtos_servicos #accordion  hr {
    background-color: #dfdfe6;
    border: 0 none;
    clear: both;
    color: #dfdfe6;
    height: 1px;
    margin: 12px 0;
}

#produtos_servicos .positionDateHistorico .icon-time:before {
    margin-top: 0px;
    margin-left: -15px;
    position: absolute;
}

#produtos_servicos .message-item, #produtos_servicos .panel-heading
{
    cursor: pointer;
}

#produtos_servicos .message-item .summary { margin-left: 0; }

.linha-azul
{
    background-color: #F7F9FC !important;
}

.angular-google-map-container { height: 300px; width: 100% }

.exibeSomenteRelatorio 
{
    display: none;
    visibility: hidden;
}   
.colunaOculta
{
    width: 1px;        
} 


.blocoTotaisDash
{    
    display:block;   
    text-align: center;    
}

.textoBlocoDash 
{
    display:table-cell;	 
    vertical-align:middle;
    height:   

}


@media (max-width: 480px) and (min-width: 461px), (max-width: 360px) {
    .user-info 
    {
        height:auto !important;
        margin-top: auto !important;
        position: relative !important;
        border-bottom: 1px solid #ffffff;
    }
    .user-menu 
    {
        padding-top: 0px !important;
    }
    button.btn
    {
        margin: 2px auto;   
    }
    .datepicker
    {
        z-index:999999 !important;
    }    
}